
<h1>ABOUT PAGE</h1>
<div class="card about">
    <div class="card-body">
        <p class="card-text">There is nothing like a well-brewed cup of coffee from a local coffee shop. In the post,
            Covid economy small independent coffee shops have my heart. Therefore assisting coffee shop owners in
            getting their brand to market and their message out there is very close to my heart as well.
        </p><br>
        <p>
            The neighborhood coffee shop can bring a community together. It can become a Saturday morning tradition for
            the family up the street. It can be the birthplace of great ideas and innovation. It can even be a
            home-away-from-home for the couple just needing a place to connect without all the distractions of life. The
            neighborhood coffee shop can be so many things to so many people IF they truly establish themselves and make
            themselves known.
        </p>
    </div>
   
</div>