<!--Navbar-->
<nav class="navbar navbar-light navbar-1 white">
    <ul class="nav">
        <!-- Links -->
        <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/maps">Maps</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/history">History</a>
        </li>
    </ul>
</nav>
<!--/.Navbar-->
<h1>ABOUT PAGE</h1>
<div class="card">
  <div class="card-body">
    <p class="card-text">Hello everyone</p>
  </div>
</div>