<!--Navbar-->
<link rel="stylesheet" href="/assets/css/map.css">

<div id="map"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Your Results</h2>
      <div class="results"></div>
    </div>
  </div>
</div>

 <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpP9c6UVQA5-hoA1VcR953lZwAsGfUUFg&callback=initMap&libraries=&v=weekly"
    async
  ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="/assets/js/members.js"></script>
