<!--Navbar-->
<link rel="stylesheet" href="/assets/css/style.css">

<div id="map"></div>
<div class="card result">
  <div class="container">
    <h2>Your Results</h2>
    <div class="results"></div>
  </div>
</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpP9c6UVQA5-hoA1VcR953lZwAsGfUUFg&callback=initMap&libraries=&v=weekly"
  async></script>
<script src = "https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/members.js"></script>