*{
    font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
}
h1{
    text-align: center;
}

body{
    background-image:url("/assets/coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    margin:0 auto;
    display:block;
}

/* Animation */
.anim-typewriter{
    position: relative;
    top: 50%;  
    width: 18em;
    margin: 0 auto;
    color:brown;
    margin-top: 30px;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

h1{
    color:brown;
}
p{
    font-size: 20px;
    color:maroon;
}
/* tabs */
.nav-link{
    color:brown;
    font-size: 25px;
}
/* line */
.line{
    width: 120px;
    height: 3px;
    background-color: black;
}

/* about page */
.about{
    margin:auto;
    width: 30rem;
}

/* login css */
.login{
    width: 25%;   
}

.f1_label{
    color:brown;
}

.submit{
    margin-left:50px;
}
